* {
    direction: rtl;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    margin-top: 10px;
    border-bottom: #0087e0 solid 2px;
    padding: 0 0 5px 0;
    font-family: Vazir;
    font-weight: 500;
}

.bird-logo {
    width: 50px;
    height: auto;
}

.nav-link {
    color: #0087e0;
    text-align: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit{
    display: flex;
    text-align: center;
    color: #ff595e;
}

.exit:hover {
    text-decoration: none;
}

.exit i {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.picked-courses {
    border: #0087e0 solid 2px;
    width: 90%;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
    margin: 50px auto;
    border-radius: 5px;
}

.picked-courses table {
    border-collapse: collapse;
    width: 90%;
    font-family: Vazir;
    font-weight: 500;
}
.picked-courses table, th, td{
    border: 1px solid black;
    text-align: center;
}

.picked-courses th {
    padding: 15px 10px 15px 10px;
    width: auto;
    color: #1a4c89;
}

.picked-courses td {
    padding: 15px 10px 15px 10px;
    width: auto;
    color: rgba(157,157,157,255);
}

.picked-courses i {
    color: #ff595e;
    width: 100%;
    height: auto;
}

.registered {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    border: solid 2px #28a745;
    border-radius: 5px;
    color: #28a745;
    padding: 10px;
    font-size: 20px;
}

.not-registered {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    border: solid 2px #0087e0;
    border-radius: 5px;
    color: #0087e0;
    padding: 10px;
    font-size: 20px;
}

.waiting {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    border: solid 2px #9d9d9d;
    border-radius: 5px;
    color: #9d9d9d;
    padding: 10px;
    font-size: 20px;
}

.unit {
    color: #1a4c89;
    font-weight: 900;
}



