.picked-courses {
    border-color: #0087e0;
    width: 90%;
    height: 250px;
    flex-direction: column;
    margin: 100px auto 0 auto;
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

.picked-courses-table {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
    border-bottom: solid 2px #0087e0;
}

.picked-courses table {
    border-collapse: collapse;
    width: 90%;
}

.picked-courses table, th, td {
    border: 1px solid black;
    text-align: center;
}

.picked-courses th {
    padding: 15px 0 15px 0;
    color: #1a4c89;
}

.picked-courses td {
    color: rgba(157, 157, 157, 255);
}

.flaticon-trash-bin {
    color: #ff595e;
    font-size: 18px;
}

.register-status {
    padding: 0;
    margin: 5px auto;
    width: 70%;
    font-size: 14px;
}

.registered {
    color: #28a745;
    border-color: #28a745;
}

.not-registered {
    color: #0087e0;
    border-color: #0087e0;
}

.waiting {
    color: #9d9d9d;
    border-color: #9d9d9d;
}

.unit {
    color: #1a4c89;
    font-weight: 900;
}

.label {
    width: 20%;
    position: relative;
    margin: 0;
    top: -25px;
    right: 40px;
    background-color: #0087e0;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
}

.picked-courses-status {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.num-of-units {
    padding: 10px 0;
    font-size: 16px;
    color: #1a4c89;
    font-weight: 900;
}

.finalized-reset {
    display: flex;
}

.refresh {
    display: flex;
    align-items: center;
    background-color: #9d9d9d;
    color: #FFFFFF;
    font-size: 25px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.finalized-reset button {
    margin: 5px 5px 5px 0;
    padding: 5px 40px 5px 40px;
    color: white;
    background: #06d6a0;
    border-radius: 5px;
}

.search {
    width: 45%;
    border-color: #9d9d9d;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 30px;
}

.search input {
    width: 70%;
    background-color: rgba(110, 110, 110, 0.1);
    border-color: #9d9d9d;
    font-size: 16px;
    padding: 5px;
}

.search button {
    width: 25%;
    color: white;
    background: #06d6a0;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.search-icon {
    margin-right: 15px;
    display: flex;
    align-items: center;
}