.schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px auto 100px auto;
    width: 90%;
    border: 2px solid #0087e0;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
}

.schedule-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    height: auto;
    border-bottom: 2px solid #0087e0;
    width: 100%;
}

.schedule-header div {
    display: flex;
}

.schedule-header .flaticon-calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #0087e0;
    font-size: 22px;
}

.schedule-header div span {
    margin-right: 10px;
}

.schedule-container table {
    width: 100%;
    border-top-width: 0;
    border-bottom-width: 0;
}

.schedule-container table td {
    border-left: rgba(157, 157, 157, 255) solid 1px;
    border-bottom: rgba(157, 157, 157, 255) solid 1px;
    padding: 30px 0;
    width: 15%;
}

.schedule-container table tr:last-child td {
    border-bottom: none;
}

.schedule-container table tr td:last-child {
    border-left: none;
}

.schedule-container table tr td:first-child {
    width: 10%;
}